# Exercise 8: More About Pandas DataFrames

## Aim: Learn how to select certain data from a `Pandas` DataFrame.

### Issues covered:
- Using `loc` and `iloc` to locate data in a dataframe
- Slicing dataframes
- Creating subsets and masks

## 1. Using `loc` and `iloc`

Create a dataframe called `data` from the CSV file `data/europe_gdp.csv` and index it by the `country` column.

In [2]:
import pandas as pd
df = pd.read_csv('../data/europe_gdp.csv', index_col='country')
df.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

Print out the GDP per capita for Belgium in 1957 (2nd column, 3rd row) using `iloc`.

_Hint: Remember that indexing starts from 0 in Python. You should get the value `9714.960623`._

In [4]:
df.iloc[2,1]

9714.960623

Use `loc` to print out GDP per capita for Belgium in 1957. You should get the same result as above.

In [8]:
df.loc['Belgium', 'gdpPercap_1957']

9714.960623

Print GDP per capita for `Switzerland` for all years using `:`.

In [13]:
print(df.loc['Switzerland'])

gdpPercap_1952    14734.23275
gdpPercap_1957    17909.48973
gdpPercap_1962    20431.09270
gdpPercap_1967    22966.14432
gdpPercap_1972    27195.11304
gdpPercap_1977    26982.29052
gdpPercap_1982    28397.71512
gdpPercap_1987    30281.70459
gdpPercap_1992    31871.53030
gdpPercap_1997    32135.32301
gdpPercap_2002    34480.95771
gdpPercap_2007    37506.41907
Name: Switzerland, dtype: float64

In [14]:
print(df.loc['Switzerland', :])

gdpPercap_1952    14734.23275
gdpPercap_1957    17909.48973
gdpPercap_1962    20431.09270
gdpPercap_1967    22966.14432
gdpPercap_1972    27195.11304
gdpPercap_1977    26982.29052
gdpPercap_1982    28397.71512
gdpPercap_1987    30281.70459
gdpPercap_1992    31871.53030
gdpPercap_1997    32135.32301
gdpPercap_2002    34480.95771
gdpPercap_2007    37506.41907
Name: Switzerland, dtype: float64

Print out GDP per capita in 1987 for all countries.

In [30]:
pd.options.display.float_format = "{:,}".format

In [34]:
df.loc[:,'gdpPercap_1987'].round(2)

country
Albania                   3,738.93
Austria                  23,687.83
Belgium                  22,525.56
Bosnia and Herzegovina    4,314.11
Bulgaria                  8,239.85
Croatia                  13,822.58
Czech Republic           16,310.44
Denmark                  25,116.18
Finland                  21,141.01
France                   22,066.44
Germany                  24,639.19
Greece                   16,120.53
Hungary                  12,986.48
Iceland                  26,923.21
Ireland                  13,872.87
Italy                    19,207.23
Montenegro               11,732.51
Netherlands              23,651.32
Norway                   31,540.97
Poland                    9,082.35
Portugal                 13,039.31
Romania                   9,696.27
Serbia                   15,870.88
Slovak Republic          12,037.27
Slovenia                 18,678.53
Spain                    15,764.98
Sweden                   23,586.93
Switzerland               30,281.7
Turkey                    5,089.04
United Kingdom           21,664.79
Name: gdpPercap_1987, dtype: float64

Print out a slice of the data frame which shows GDP for countries between Denmark to Iceland from 1982 to 1992.

In [33]:
df.loc['Denmark':'Iceland', 'gdpPercap_1982':'gdpPercap_1992']

         gdpPercap_1982  gdpPercap_1987  gdpPercap_1992
country
Denmark    21,688.04048    25,116.17581    26,406.73985
Finland    18,533.15761    21,141.01223    20,647.16499
France     20,293.89746    22,066.44214    24,703.79615
Germany    22,031.53274    24,639.18566    26,505.30317
Greece     15,268.42089    16,120.52839    17,541.49634
Hungary    12,545.99066    12,986.47998    10,535.62855
Iceland     23,269.6075    26,923.20628    25,144.39201

Print out the last 3 columns for the last 3 rows of countries.

In [35]:
df.tail(3)

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Switzerland,"14,734.23275","17,909.48973","20,431.0927","22,966.14432","27,195.11304","26,982.29052","28,397.71512","30,281.70459","31,871.5303","32,135.32301","34,480.95771","37,506.41907"
Turkey,"1,969.10098","2,218.754257","2,322.869908","2,826.356387","3,450.69638","4,269.122326","4,241.356344","5,089.043686","5,678.348271","6,601.429915","6,508.085718","8,458.276384"
United Kingdom,"9,979.508487","11,283.17795","12,477.17707","14,142.85089","15,895.11641","17,428.74846","18,232.42452","21,664.78767","22,705.09254","26,074.53136","29,478.99919","33,203.26128"

What are the maximum GDP values between 1997-2007 for the last 3 countries alphabetically?

In [39]:
df.tail(3).loc[:,'gdpPercap_1997':'gdpPercap_2007']

                gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Switzerland       32,135.32301    34,480.95771    37,506.41907
Turkey            6,601.429915    6,508.085718    8,458.276384
United Kingdom    26,074.53136    29,478.99919    33,203.26128

## 2. Creating subsets and masks

Create a variable called `subset` which contains only the data for Hungary to Netherlands between 1962 and 1972. Print out the subset.

In [47]:
subset = df.loc['Hungary':'Nethrlands', 'gdpPercap_1962':'gdpPercap_1972']
print(subset.round(2))

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Hungary            7,550.36        9,326.64       10,168.66
Iceland           10,350.16        13,319.9       15,798.06
Ireland             6,631.6        7,655.57        9,530.77
Italy              8,243.58        10,022.4       12,269.27
Montenegro         4,649.59        5,907.85        7,778.41
Netherlands       12,790.85       15,363.25       18,794.75

Return a dataframe of boolean (`True` or `False`) values showing where the GDP values are greater than 10000.

In [50]:
subset>10_000

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Hungary               False           False            True
Iceland                True            True            True
Ireland               False           False           False
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True

Create a boolean mask for the above and print the result of applying this to the subset.

In [51]:
subset[subset>10_000]

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Hungary                 NaN             NaN    10,168.65611
Iceland        10,350.15906    13,319.89568    15,798.06362
Ireland                 NaN             NaN             NaN
Italy                   NaN    10,022.40131    12,269.27378
Montenegro              NaN             NaN             NaN
Netherlands    12,790.84956    15,363.25136    18,794.74567

What is the mean and standard deviation of the mask applied to this subset?

In [56]:
for i in zip((subset>10_000).mean(), (subset>10_000).std()):
    print(i)

(0.3333333333333333, 0.5163977794943223)
(0.5, 0.5477225575051661)
(0.6666666666666666, 0.5163977794943223)

## 3. Extension Questions

1. Find the index of the maximum for each column of the dataset.

_Hint: You will need to make use of `idxmax()`._

In [67]:
df.idxmax(axis=1)

country
Albania                   gdpPercap_2007
Austria                   gdpPercap_2007
Belgium                   gdpPercap_2007
Bosnia and Herzegovina    gdpPercap_2007
Bulgaria                  gdpPercap_2007
Croatia                   gdpPercap_2007
Czech Republic            gdpPercap_2007
Denmark                   gdpPercap_2007
Finland                   gdpPercap_2007
France                    gdpPercap_2007
Germany                   gdpPercap_2007
Greece                    gdpPercap_2007
Hungary                   gdpPercap_2007
Iceland                   gdpPercap_2007
Ireland                   gdpPercap_2007
Italy                     gdpPercap_2007
Montenegro                gdpPercap_1987
Netherlands               gdpPercap_2007
Norway                    gdpPercap_2007
Poland                    gdpPercap_2007
Portugal                  gdpPercap_2007
Romania                   gdpPercap_2007
Serbia                    gdpPercap_1987
Slovak Republic           gdpPercap_2007
Slovenia                  gdpPercap_2007
Spain                     gdpPercap_2007
Sweden                    gdpPercap_2007
Switzerland               gdpPercap_2007
Turkey                    gdpPercap_2007
United Kingdom            gdpPercap_2007
dtype: object

In [63]:
df.loc[['Switzerland', 'Norway']].round(2)

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Switzerland,"14,734.23","17,909.49","20,431.09","22,966.14","27,195.11","26,982.29","28,397.72","30,281.7","31,871.53","32,135.32","34,480.96","37,506.42"
Norway,"10,095.42","11,653.97","13,450.4","16,361.88","18,965.06","23,311.35","26,298.64","31,540.97","33,965.66","41,283.16","44,683.98","49,357.19"

2. Similarly, find the index of the minimum for each column of the dataset.

_Hint: You will need to make use of `idxmin()`._

In [70]:
df.idxmin()

gdpPercap_1952    Bosnia and Herzegovina
gdpPercap_1957    Bosnia and Herzegovina
gdpPercap_1962    Bosnia and Herzegovina
gdpPercap_1967    Bosnia and Herzegovina
gdpPercap_1972    Bosnia and Herzegovina
gdpPercap_1977    Bosnia and Herzegovina
gdpPercap_1982                   Albania
gdpPercap_1987                   Albania
gdpPercap_1992                   Albania
gdpPercap_1997                   Albania
gdpPercap_2002                   Albania
gdpPercap_2007                   Albania
dtype: object

3. Print out the median GDP per capita across all countries for each year.

_Hint: Use `median()`._

In [74]:
df.median().round()

gdpPercap_1952    5,142.0
gdpPercap_1957    6,067.0
gdpPercap_1962    7,516.0
gdpPercap_1967    9,366.0
gdpPercap_1972   12,326.0
gdpPercap_1977   14,226.0
gdpPercap_1982   15,323.0
gdpPercap_1987   16,215.0
gdpPercap_1992   17,550.0
gdpPercap_1997   19,596.0
gdpPercap_2002   23,675.0
gdpPercap_2007   28,054.0
dtype: float64