# Exercise 14: Looping Over Data Sets

## Aim: Use `glob` to find sets of files, and write loops to perform operations on files.

### Issues covered:
- Using a `for` loop to loop over a given list of files
- Using `glob` to match patterns of files
- Looping over sets of files using `glob`
- Using `glob` and `for` to process data from mutliple files

## 1. Looping over files from a simple list

Use a `for` loop to loop over the files in the data folder (americas_gdp.csv, europe_gdp.csv and oceania_gdp.csv) and print out the maxima of the datasets.

In [3]:
import pandas as pd
for filename in ['../data/americas_gdp.csv', '../data/europe_gdp.csv', 
             '../data/oceania_gdp.csv']:
                 filedata = pd.read_csv(filename, index_col='country')
                 massimo = filedata.max()
                 print(filename, 'has a max of', massimo)

../data/americas_gdp.csv has a max of continent            Americas
gdpPercap_1952    13990.48208
gdpPercap_1957    14847.12712
gdpPercap_1962    16173.14586
gdpPercap_1967    19530.36557
gdpPercap_1972    21806.03594
gdpPercap_1977    24072.63213
gdpPercap_1982    25009.55914
gdpPercap_1987    29884.35041
gdpPercap_1992    32003.93224
gdpPercap_1997    35767.43303
gdpPercap_2002    39097.09955
gdpPercap_2007    42951.65309
dtype: object

../data/europe_gdp.csv has a max of gdpPercap_1952    14734.23275
gdpPercap_1957    17909.48973
gdpPercap_1962    20431.09270
gdpPercap_1967    22966.14432
gdpPercap_1972    27195.11304
gdpPercap_1977    26982.29052
gdpPercap_1982    28397.71512
gdpPercap_1987    31540.97480
gdpPercap_1992    33965.66115
gdpPercap_1997    41283.16433
gdpPercap_2002    44683.97525
gdpPercap_2007    49357.19017
dtype: float64

../data/oceania_gdp.csv has a max of gdpPercap_1952    10556.57566
gdpPercap_1957    12247.39532
gdpPercap_1962    13175.67800
gdpPercap_1967    14526.12465
gdpPercap_1972    16788.62948
gdpPercap_1977    18334.19751
gdpPercap_1982    19477.00928
gdpPercap_1987    21888.88903
gdpPercap_1992    23424.76683
gdpPercap_1997    26997.93657
gdpPercap_2002    30687.75473
gdpPercap_2007    34435.36744
dtype: float64

## 2. Using `glob` to loop through files

What do you think `glob.glob('*.ipynb')` will return? Try it and see.

In [4]:
import glob
glob.glob('*.ipynb')

['ex12_for_loops.ipynb',
 'ex18_programming_style.ipynb',
 'ex05_coffee.ipynb',
 'ex16_writing_functions.ipynb',
 'ex14_looping_data_sets.ipynb',
 'ex20_feedback.ipynb',
 'ex19_wrap_up.ipynb',
 'ex08_pandas_dataframes.ipynb',
 'ex13_conditionals.ipynb',
 'ex10_lunch.ipynb',
 'ex17_variable_scope.ipynb',
 'ex09_plotting.ipynb',
 'ex02_variables_assignment.ipynb',
 'ex03_data_types.ipynb',
 'ex15_coffee.ipynb',
 'ex11_lists.ipynb',
 'ex07_dataframes.ipynb',
 'ex04_built_in_functions.ipynb',
 'ex06_libraries.ipynb',
 'ex01_running_notebooks.ipynb',
 'sandbox.ipynb',
 'Untitled.ipynb']

How can we return only the files for exercises 1-9?

In [16]:
glob.glob('ex0*')

['ex05_coffee.ipynb',
 'ex08_pandas_dataframes.ipynb',
 'ex09_plotting.ipynb',
 'ex02_variables_assignment.ipynb',
 'ex03_data_types.ipynb',
 'ex07_dataframes.ipynb',
 'ex04_built_in_functions.ipynb',
 'ex06_libraries.ipynb',
 'ex01_running_notebooks.ipynb']

Which exercises have coffee in their title?

In [6]:
glob.glob('*coffee*')

['ex05_coffee.ipynb', 'ex15_coffee.ipynb']

## 3. Using `glob` and `for` to process files

Write a `for` loop which loops through all of the files containing `gdp` in the title, write the data to a dataframe, then print the dataframe minimum for all columns (using `.min()`).

In [56]:
df.dtypes[0]
# for type in df.dtypes:
#     if type != 'O':
#         # print(df.min())
df.min?

Signature:
df.min(
    axis: 'int | None | lib.NoDefault' = <no_default>,
    skipna=True,
    level=None,
    numeric_only=None,
    **kwargs,
)
Docstring:
Return the minimum of the values over the requested axis.

If you want the *index* of the minimum, use ``idxmin``. This is the equivalent of the ``numpy.ndarray`` method ``argmin``.

Parameters
----------
axis : {index (0), columns (1)}
    Axis for the function to be applied on.
skipna : bool, default True
    Exclude NA/null values when computing the result.
level : int or level name, default None
    If the axis is a MultiIndex (hierarchical), count along a
    particular level, collapsing into a Series.
numeric_only : bool, default None
    Include only float, int, boolean columns. If None, will attempt to use
    everything, then use only numeric data. Not implemented for Series.
**kwargs
    Additional keyword arguments to be passed to the function.

Returns
-------
Series or DataFrame (if level specified)

See Also
--------
Series.sum : Return the sum.
Series.min : Return the minimum.
Series.max : Return the maximum.
Series.idxmin : Return the index of the minimum.
Series.idxmax : Return the index of the maximum.
DataFrame.sum : Return the sum over the requested axis.
DataFrame.min : Return the minimum over the requested axis.
DataFrame.max : Return the maximum over the requested axis.
DataFrame.idxmin : Return the index of the minimum over the requested axis.
DataFrame.idxmax : Return the index of the maximum over the requested axis.

Examples
--------
>>> idx = pd.MultiIndex.from_arrays([
...     ['warm', 'warm', 'cold', 'cold'],
...     ['dog', 'falcon', 'fish', 'spider']],
...     names=['blooded', 'animal'])
>>> s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
>>> s
blooded  animal
warm     dog       4
         falcon    2
cold     fish      0
         spider    8
Name: legs, dtype: int64

>>> s.min()
0
File:      /opt/jaspy/lib/python3.10/site-packages/pandas/core/generic.py
Type:      method

In [69]:
df.min()

continent            Americas
gdpPercap_1952    1397.717137
gdpPercap_1957    1544.402995
gdpPercap_1962    1662.137359
gdpPercap_1967    1452.057666
gdpPercap_1972    1654.456946
gdpPercap_1977    1874.298931
gdpPercap_1982    2011.159549
gdpPercap_1987    1823.015995
gdpPercap_1992    1456.309517
gdpPercap_1997    1341.726931
gdpPercap_2002    1270.364932
gdpPercap_2007    1201.637154
dtype: object

In [78]:
for col_name in df.columns:
    if df[col_name].dtype == 'O':
        df_2 = df.drop(col_name, axis='columns')

df_2.min().min()
df.min(numeric_only=True).min()

1201.637154

In [ ]:
import glob
from pathlib import Path
import pandas as pd

files_to_analyse = glob.glob('../data/*gdp*')
for filename in files_to_analyse:
    p = Path(filename)
    
    df = pd.read_csv(filename, index_col='country')
    for dtyp in 
    analysis = [print('find min of column') for type in df.dtypes if type != 'O']
    
    analysis = df.min(numeric_only=True).round()
    
    print('='*42, filename)
    print('\n',p.stem, '\n')
    print(analysis)

In [86]:
files_to_analyse

lista = []
for file in files_to_analyse:
    lista.append(pd.read_csv(file))

df = pd.concat(lista)

In [98]:
pd.options.display.float_format = '{:,.0f}'.format
df

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007,continent
0,Australia,"10,040","10,950","12,217","14,526","16,789","18,334","19,477","21,889","23,425","26,998","30,688","34,435",NaN
1,New Zealand,"10,557","12,247","13,176","14,464","16,046","16,234","17,632","19,007","18,363","21,050","23,190","25,185",NaN
0,Albania,"1,601","1,942","2,313","2,760","3,313","3,533","3,631","3,739","2,497","3,193","4,604","5,937",NaN
1,Austria,"6,137","8,843","10,751","12,835","16,662","19,749","21,597","23,688","27,042","29,096","32,418","36,126",NaN
2,Belgium,"8,343","9,715","10,991","13,149","16,672","19,118","20,980","22,526","25,576","27,561","30,486","33,693",NaN
3,Bosnia and Herzegovina,974,"1,354","1,710","2,172","2,860","3,528","4,127","4,314","2,547","4,766","6,019","7,446",NaN
4,Bulgaria,"2,444","3,009","4,254","5,577","6,597","7,612","8,224","8,240","6,303","5,970","7,697","10,681",NaN
5,Croatia,"3,119","4,338","5,478","6,960","9,164","11,305","13,222","13,823","8,448","9,876","11,628","14,619",NaN
6,Czech Republic,"6,876","8,256","10,137","11,399","13,108","14,800","15,377","16,310","14,297","16,049","17,596","22,833",NaN
7,Denmark,"9,692","11,100","13,583","15,937","18,866","20,423","21,688","25,116","26,407","29,804","32,167","35,278",NaN
8,Finland,"6,425","7,545","9,372","10,922","14,359","15,605","18,533","21,141","20,647","23,724","28,205","33,207",NaN
9,France,"7,030","8,663","10,560","13,000","16,107","18,293","20,294","22,066","24,704","25,890","28,926","30,470",NaN
10,Germany,"7,144","10,188","12,902","14,746","18,016","20,513","22,032","24,639","26,505","27,789","30,036","32,170",NaN
11,Greece,"3,531","4,916","6,017","8,513","12,725","14,196","15,268","16,121","17,541","18,748","22,514","27,538",NaN
12,Hungary,"5,264","6,040","7,550","9,327","10,169","11,675","12,546","12,986","10,536","11,713","14,844","18,009",NaN
13,Iceland,"7,268","9,244","10,350","13,320","15,798","19,655","23,270","26,923","25,144","28,061","31,163","36,181",NaN
14,Ireland,"5,210","5,599","6,632","7,656","9,531","11,151","12,618","13,873","17,559","24,522","34,077","40,676",NaN
15,Italy,"4,931","6,249","8,244","10,022","12,269","14,256","16,537","19,207","22,014","24,675","27,968","28,570",NaN
16,Montenegro,"2,648","3,682","4,650","5,908","7,778","9,596","11,223","11,733","7,003","6,466","6,557","9,254",NaN
17,Netherlands,"8,942","11,276","12,791","15,363","18,795","21,209","21,399","23,651","26,791","30,246","33,725","36,798",NaN
18,Norway,"10,095","11,654","13,450","16,362","18,965","23,311","26,299","31,541","33,966","41,283","44,684","49,357",NaN
19,Poland,"4,029","4,734","5,339","6,557","8,007","9,508","8,452","9,082","7,739","10,160","12,002","15,390",NaN
20,Portugal,"3,068","3,775","4,728","6,362","9,022","10,172","11,754","13,039","16,207","17,641","19,971","20,510",NaN
21,Romania,"3,145","3,943","4,735","6,471","8,011","9,356","9,605","9,696","6,598","7,347","7,885","10,808",NaN
22,Serbia,"3,581","4,981","6,290","7,992","10,522","12,981","15,181","15,871","9,325","7,914","7,236","9,787",NaN
23,Slovak Republic,"5,075","6,093","7,481","8,413","9,674","10,923","11,349","12,037","9,498","12,126","13,639","18,678",NaN
24,Slovenia,"4,215","5,862","7,402","9,405","12,383","15,277","17,867","18,679","14,215","17,161","20,660","25,768",NaN
25,Spain,"3,834","4,565","5,694","7,994","10,639","13,237","13,926","15,765","18,603","20,445","24,835","28,821",NaN
26,Sweden,"8,528","9,912","12,329","15,258","17,832","18,856","20,667","23,587","23,880","25,267","29,342","33,860",NaN
27,Switzerland,"14,734","17,909","20,431","22,966","27,195","26,982","28,398","30,282","31,872","32,135","34,481","37,506",NaN
28,Turkey,"1,969","2,219","2,323","2,826","3,451","4,269","4,241","5,089","5,678","6,601","6,508","8,458",NaN
29,United Kingdom,"9,980","11,283","12,477","14,143","15,895","17,429","18,232","21,665","22,705","26,075","29,479","33,203",NaN
0,Argentina,"5,911","6,857","7,133","8,053","9,443","10,079","8,998","9,140","9,308","10,967","8,798","12,779",Americas
1,Bolivia,"2,677","2,128","2,181","2,587","2,980","3,548","3,157","2,754","2,962","3,326","3,413","3,822",Americas
2,Brazil,"2,109","2,487","3,337","3,430","4,986","6,660","7,031","7,807","6,950","7,958","8,131","9,066",Americas
3,Canada,"11,367","12,490","13,462","16,077","18,971","22,091","22,899","26,627","26,343","28,955","33,329","36,319",Americas
4,Chile,"3,940","4,316","4,519","5,107","5,494","4,757","5,096","5,547","7,596","10,118","10,779","13,172",Americas
5,Colombia,"2,144","2,324","2,492","2,679","3,265","3,816","4,398","4,903","5,445","6,117","5,755","7,007",Americas
6,Costa Rica,"2,627","2,990","3,461","4,162","5,118","5,927","5,263","5,630","6,160","6,677","7,723","9,645",Americas
7,Cuba,"5,587","6,092","5,181","5,690","5,305","6,380","7,317","7,533","5,593","5,432","6,341","8,948",Americas
8,Dominican Republic,"1,398","1,544","1,662","1,654","2,190","2,682","2,861","2,900","3,044","3,614","4,564","6,025",Americas
9,Ecuador,"3,522","3,781","4,086","4,579","5,281","6,680","7,214","6,482","7,104","7,429","5,773","6,873",Americas
10,El Salvador,"3,048","3,422","3,777","4,359","4,520","5,139","4,098","4,140","4,444","5,155","5,352","5,728",Americas
11,Guatemala,"2,428","2,617","2,750","3,243","4,031","4,880","4,820","4,246","4,439","4,684","4,858","5,186",Americas
12,Haiti,"1,840","1,727","1,797","1,452","1,654","1,874","2,011","1,823","1,456","1,342","1,270","1,202",Americas
13,Honduras,"2,195","2,220","2,291","2,538","2,530","3,203","3,122","3,023","3,082","3,160","3,100","3,548",Americas
14,Jamaica,"2,899","4,757","5,246","6,125","7,434","6,650","6,068","6,351","7,405","7,122","6,995","7,321",Americas
15,Mexico,"3,478","4,132","4,582","5,755","6,809","7,675","9,611","8,688","9,472","9,767","10,742","11,978",Americas
16,Nicaragua,"3,112","3,457","3,634","4,643","4,689","5,486","3,470","2,956","2,170","2,253","2,475","2,749",Americas
17,Panama,"2,480","2,962","3,537","4,421","5,364","5,352","7,010","7,035","6,619","7,114","7,356","9,809",Americas
18,Paraguay,"1,952","2,046","2,148","2,299","2,523","3,248","4,259","3,999","4,196","4,247","3,784","4,173",Americas
19,Peru,"3,759","4,245","4,957","5,788","5,938","6,281","6,435","6,361","4,446","5,838","5,909","7,409",Americas
20,Puerto Rico,"3,082","3,907","5,108","6,929","9,123","9,771","10,331","12,281","14,642","16,999","18,856","19,329",Americas
21,Trinidad and Tobago,"3,023","4,100","4,998","5,621","6,620","7,900","9,120","7,389","7,371","8,793","11,461","18,009",Americas
22,United States,"13,990","14,847","16,173","19,530","21,806","24,073","25,010","29,884","32,004","35,767","39,097","42,952",Americas
23,Uruguay,"5,717","6,151","5,603","5,445","5,703","6,504","6,920","7,452","8,137","9,230","7,727","10,611",Americas
24,Venezuela,"7,690","9,802","8,423","9,541","10,505","13,144","11,152","9,884","10,734","10,165","8,605","11,416",Americas